@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 2;
  flex-direction: row; 
  align-items: stretch; 
  justify-content: flex-start;
}
